:root {
  --main-color: rgb(93, 194, 251);
  --second-color: rgb(255, 255, 255);
  --light-color: #F5F5F5;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--main-color);
  color: white;
  border: 0;
  border-radius: var(--radius);
  font-size: 17px;
}

.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--main-color);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.join-main {
  padding: 30px 40px;
  background: var(--second-color);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border-radius: var(--radius);
  border-width: 1;
  border-style: solid;
  border-color:lightslategray;

}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

